<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="953" />
    <add key="mainForm.Location.Y" value="0" />
    <add key="mainForm.Width" value="974" />
    <add key="mainForm.Height" value="1047" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEANvSaPOJQ/OGBwPDgf9pySZmDGBg4AQAqiCQ1RgAAAA=" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZACChOPtzgacKUwgNsPOdme12cyxMDYA4gn7xTAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZAACh8ICZwPOFCYQm6GvwFltNnMsjA0AGblDeTAAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZACCNvUQJwPOFCYQW0AwxEltNnMsjA0AolCXGjAAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZICCsCXp8TA2AK/zvC0kAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZICCsCXp8TA2AK/zvC0kAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZAADCScDzhQmCDvDcUNIEpT9weHWchj7gcM6uPgLh5VhCHG2liMsMHZjGELNUiQ1NV7M8jC27r1kuJouJDXPnNTVYGwAzZvdbKgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZAADPycDzhQmCDvAcUNIEpTNYH9rOZzNEKvfyQljN4bBxBvsloYh1Ege+uAJYwMA9BpyPWwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZACCP5yzXcKWpMfD2ABzPt+IJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZAACxgJXl7Al6fEwNgDP61QtJAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZAACC0tWl7Al6fEwNgBwdRb+JAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZACBhm1OBpwpTBD2ZqcNIUlQ9kanW8uhbIYNTqtvqLHD2JvCYGrWOTUisZfC2AzrnOJiOjlh7GS4mWud1NYeYYGxxVhSoerXOk2B613jtBZu5hontr4UuLgFTC+QrXsvGa63C653rdPUMIRdkyIQ5sxAckM/kl17kOxigbttjVNHBELNB0Z1dhi7DMkuMyQ1z5DMqUcy318vBS4OANUqi6SAAQAA" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAJv7janifdINDwaGA/+NhXOZGIAgIIjZafacLDB7gRCz0+34VDCbOY/JSXROApjts4PRydUxHcwun87oBACibp9KSAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADuzmvUTh+YNDwaGA/+n8nxkZIAAl7Al6fEwNgAbjTkhJAAAAA==" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEACsJtKh4n3TDg4HhwH8ACQI54wwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEADuo4FbxPumGBwPDgf8A5RRY2AwAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAJv7janifdINDwaGA/+NhXOZGIBg1rMlDrPnZIHZC6Ytcbgdnwpmvzm+2EF0TgKYve/xIgdXx3Qwu2XXIgcAH60jRUgAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAJv7janifdINDwaGA/+NhXOZGIBg9QYNx9lzssDsFTc0HG/Hp4LZTA6ajqJzEsBsyU2ajq6O6WD2tmOajgAD/e45SAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+dD19mZAADcyfHjZlMELa+0zOxdChb10ntTzKUre10dmsqlG3gBADgmLP7SAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+dD19mZAADZyfHjZlMELau0zOxdChbx0ntTzKUred0dmsqlG3oBABK7ub2SAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+dD19mZAADcyfHjZlMELaW0zOxdChb3UntTzKcfXZrKlwNAGyVMPdIAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+dD19mZAADPyfHjZlMELad0zOxdCjb2kntTzKcfXZrKlwNACjdbBpIAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/8Lo24yMgAB4/rjTh8W5DGB2Abrjjvd2ZIEZusD2bYb0+Div8uS4eIAxxGKSEgAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA///B11lZACCPWdPubhGZzOB2O22i1wONqWC2W1Atno8hH1Obr7LzJfJYLYIwxwXAMCWBsxIAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/8zNlxjZACCeaI7XPwKc5hA7HbbRS7WRSlgdhuQ/TQ/FczuALIjHiaD2brX610AWvpSVUgAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+fPL3OyAAEhfK5Lp5385hA7Kq0Hpc3qklw9qebaWC2yvWNLjOXQMRfnDnlAgC2li2dSAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/8Lo24yMgDBNdtFLh8W5DGB2Ofk5rvc2ZIEZrcBxW03poHZm2audvldlgwXBwCdEPNrSAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/8Lo24yMgCBu+4Nhw8L8phA7AndeQ53tiSB2U6Hkx1sN6aB2ctOtjj8LksGsz9Pa3QAAOH5s95IAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/8Lo24yMgBB2hszhw8L8phA7CkhbfZ3tiSB2Vv+NdvbbkwDs/MaJtn/LksGs5NX9tkDAELeYvRIAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/8Lo24yMgBBXuNZuw8L8phA7M5WXrs7W5LAbMVdr2xtN6aB2e9U/9r+LksGs9ndmewA8bZ8HEgAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+nJN1kZICCh6WzOWFsAB0bGSIkAAAA" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPPY/bP8fdINDwaGA/+dD19mZAADDyfHjZlMELa50zOxdCjb0EntTzKUbeB0dmsqlG3kBADKkC8tSAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAHNa+ab8fdINDwaGA/89rz5gZACCc4dSHB03ZjKB2G9aGh2eiaWD2Yf77juo/UkGs2907nI4uzUVzOaUeO4AANt0C2BIAAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAHNa+ab8fdINDwaGA/89rz5gZACCB3bKjo4bM5lAbKuNOg7PxNLB7A3Cbg5qf5LBbMaGmw5nt6aC2dfk1jsAADI8Ik9IAAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAHNa+ab8fdINDwaGA/89rz5gZACCZK05jo4bM5lA7KokS4dnYulg9ryIXQ5qf5LBbBtBTsezW1PB7HfqKx0ASFShy0gAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHNa+ab8fdINDwaGA/89rz5gZACCMF43J8eNmUwg9sbHhx2fiaWD2ep2Ak5qf5LB7LJDxk5nt6aC2fMs+J0AiRiTLUgAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAHNa+ab8fdINDwaGA/89rz5gZACCSsHdjo4bM5lA7C3NHI7PxNLBbP87/o5qf5LBbAaXFsezW1PB7HKVcEcA0Cc2oEgAAAA=" />
  </appSettings>
</configuration>