table {
	margin: 0 auto;
	width: 170px;
	text-align: center;
}
td {
	font-weight: bold;

}

.noenlazadas {
	background-color: black;
	color:white;
}

.ofimatica {
	background-color: aqua;
}

.sistemas {
	background-color: red;
}

.montaje {
	background-color: orange;
}

.redes {
	background-color: yellow;
}

.apw {
	background-color: olive;
}



